.header-text-container
  width: 100%;
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #1387FE;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  .header-text-bk
    display: inline-block;
    min-width: 228px;
    height: 100%;
    font-family: PingFangSC-Semibold;
    font-size: 18px;
    color: #CBDEF4;
    background-image: url("../../assets/images/label.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0 15px;
    border-right: 1px solid #1387FE;
    //border-bottom: 1px solid #1387FE;
    box-sizing: border-box;
  
