server {
    listen       7777;
    server_name  localhost;

    #charset koi8-r;
    #access_log  /var/log/nginx/host.access.log  main;
    #error_log  /var/log/nginx/host.error.log;


    location / {
            root   /usr/share/nginx/html;
            index  index.html index.htm index.shtml;
            try_files $uri $uri/ /index.html;
    }

}
