.stopping-page
  width 100%
  height 100%
  position absolute
  top 0
  left 0
  display flex
  flex-direction row


/*停车场使用统计*/
.stopping-left
  margin-left 20px

  .top-statistics-content
    width 480px
    height 311px

    .content-box-content
      display flex
      flex-direction row
      flex-wrap wrap
      justify-content space-around
      align-items center
      margin-top 20px

      >div:nth-child(1), >div:nth-child(2)
        width 215px
        height 69px


      >div:nth-child(n+3)
        width 139px
        height 69px

      >div:nth-child(1), >div:nth-child(3), >div:nth-child(6)
        border-image linear-gradient(to right,#4CDDFF  , #0066EE)20 20
        background-image: linear-gradient(-44deg, rgba(2,61,149,0.40) 8%, rgba(2,61,149,0.00) 90%);
        border-radius 2px

      >div:nth-child(2), >div:nth-child(5), >div:nth-child(8)
        border-image linear-gradient(to right,#0066EE , #4CDDFF)20 20
        background-image: linear-gradient(-44deg, rgba(2,61,149,0.00) 8%, rgba(2,61,149,0.40) 90%);
        border-radius 2px

       >div:nth-child(4)
        background: rgba(2,61,149,0.40);
        border: 1px solid #0066EE;

      >div:nth-child(7)
        border-image linear-gradient(to bottom,#0066EE , #4CDDFF)20 20
        background-image: linear-gradient(180deg, rgba(2,61,149,0.40) 21%, rgba(2,61,149,0.00) 100%);
        border-radius 2px

    .statistics-content-item
      width 100%
      height 100%
      display flex
      flex-direction column
      border 1px solid #ddd
      margin-top 15px
      padding 4px 0 12px 15px

      span:nth-child(1)
        font-size: 24px;
        color: #4CDDFF;
        line-height: 36px;

      span:nth-child(2)
        font-family: PingFangSC-Medium;
        font-size: 12px;
        color: #CBDEF4;





/*左中*/

.center-collapse
  position absolute
  top 60px

.center-statistics-content
  height 231px
  width 480px
  position relative

/*左下底部pie图*/

.bottom-pie
  width: 480px;
  height 344px



/*中间部分*/
.middle-map-content
  width 843px
  height 562px

.center-line-content
    width 843px
    height 344px


  .center-line-content
    display flex
    flex-direction row
    justify-content space-around

  .center-line-line
    width 50%

/*右边*/
.right-stopping-time
  width 480px
  height 562px

.right-collapse
  position absolute
  top 60px

.right-stopping-duration
  width 480px
  height 344px



